---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Projects from '../components/Projects.astro';
import ContactTerminal from "../components/ContactTerminal.astro";
import Skills from "../components/Skills.astro";
import Footer from "../components/Footer.astro";

---

<Layout>
	<Hero />

	<main>
		<Projects />
		<Skills />
		<ContactTerminal />
	</main>

	<Footer />
</Layout>
