---
import VibeBackground from "../components/VibeBackground.astro";
import ThemeToggle from "../components/ThemeToggle.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Keila Martx</title>
	</head>
	<body class="bg-bg-light dark:bg-bg-dark transition-colors duration-500">
		<VibeBackground />
		<ThemeToggle />
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
